@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.Banner{
    position: absolute;
    top: 5rem;
    width: 100%;
    height: 30rem;
    background-repeat: no-repeat;
    background-size:cover;    
    background-position:top;
    overflow: hidden;
}.Banner::before{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position:absolute;
    background-color: rgba(0, 0, 0,0.8);
    content: "";
}.logo2{
    width: 80px;
    position:absolute;
    left: 10px;
    top: 5rem;
    mix-blend-mode:exclusion;
}
.Title{
    position: absolute;
    top: 10rem;
    font-size: 4rem;
    left: 2rem;
    font-family:Roboto;
    color: rgb(227, 224, 224);
}.Description{
    position: absolute;
    top: 17rem;
    font-size: 14px;
    width: 40rem;
    left: 2rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:400;
    color: rgb(227, 224, 224);
}.Buttons{
    position: absolute;
    top: 25rem;
}.Buttons button{
    margin-left: 2rem;
    width: 6rem;
    height: 43px;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}button:hover{
    background-color: rgba(51,51,51,0.5);
}